/* CSS Setup */

* {
    margin:  0;
    padding: 0;
    text-decoration: none;
}

.red {
    color: #a73d41;
}

a {
    color: #e7c49b;
}

a:hover {
    color: #4d4133;
}

a:visited {
    color: #d39957;
}

h1, h2, h3 {
    font-family: "Bodoni MT";
}

.bebas {
    font-family: "Bebas Neue";
}

/* Main Banner */

#main-banner {
    width: 100%;
    height: 90vh;
    background: url("../IMG/webbackground.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 72%;
    margin-bottom: 5vh;
    background-color: bisque;
}

#logo-banner {
    width: 100%;
    height: 20%;
    z-index: 1;
}

#logo-banner img {
    height: 100%;
}


#mbanner {
    width: 100%;
    height: 10%;
    margin-left: 0.5%;
}

.mbanner-text {
    font-size: 13.1vw;
    display: inline-block;
    font-family: "Bebas Neue";
    color: #142735;
    transform: scaleY(1.5);
    transform-origin: 0 0;
}

.mbanner-subtext {
    font-size: 8vw;
    color: white;
    display: inline-block;
    transform: scaleY(1.5);
    transform-origin: 0 0;
}

/* Movie Quote Section */

#movie-quote {
    width: 100%;
    margin-bottom: 2%;
    text-align: center; 
}

/* Profile Card */

.slist {
    list-style: none;
}

#pcard {
    width: 75%;
    height: 70vh;
    margin-bottom: 5vh;
    margin-left: 12.5%;
    background-color: #326c98;
    display: flex;
}

#acard {
    flex: 1;
    flex-grow: 2;
    color: white;
}

#acard hr {
    width: 100%;
    height: 5px;
    background-color: white;
}

.subtitle {
    font-size: 2vw;
    margin-left: 5%;
    margin-top: 5%;
    letter-spacing: 0.1em;
}

.atitle {
    margin-left: 5%;
    width: 100%;
    margin-top: -1%;
    margin-bottom: 1%;
    font-size: 3vw;
    color: #e7c49b;
}

.ainfo {
    margin-left: 7%;
    margin-top: 2%;
}

.ainfo h2 {
    font-size: 3vw;
}

.nlist {
    margin-left: 2%;
    font-size: 20px;
}

.nlist pre {
    width: 100%;
}

#ppicture {
    flex: 1;
    height: 100%;
    position: relative;
    background: url("../IMG/IMG_0822.JPG");
    background-size: cover;
    background-position: center;
}

/* Assignments */


#assignments {
    width: 75%;
    height: 10vh;
    margin-left: 12.5%;
    background-color: #a73d41;
    display: flex;
}

#assignments h1 {
    margin-left: 3.5%;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 3vw;
    color: white;
}

.atable {
    width: 75%;
    height: 10vh;
    margin-bottom: 5vh;
    margin-left: 12.5%;
    text-align: left;
}

.atable tr:nth-child(even) {
    background-color: #aeb3b6;
  }

  th, td {
    text-align: left;
    padding: 16px;
  }

