
.e3et h1 {
    color: red; 
    margin-left: 2cm;
}

.e3et h2 {
    color:red; 
    margin-left: 4cm;
}

.e3et p {
    text-indent:2cm;
    color:darkred; 
    margin-left: 6cm;
}

#song1 {
    padding-top: 2%; 
    padding-bottom: 2%; 
    text-align: center; 
    width: 100%; 
    background: chocolate;
}

#song1 .artist {
    font-size: 14pt; 
    font-family: Arial; 
    font-weight: bold; 
    color: moccasin
}

#song1 .title {
    display: inline-block; 
    font-size: 14pt; 
    font-family: Arial; 
    font-weight: bold; 
    color: moccasin;
}

#song1 .album {
    display: inline-block;
    font-size: 12pt; 
    font-family: Arial; 
    color: khaki;
}

#song1 .year {
    font-size: 12pt; 
    font-family: Arial; 
    font-weight: bold; 
    color:ivory;
}

#song1 .lyrics {
    font-size: 14pt; 
    font-family: 'Trebuchet MS'; 
    font-weight: bold; 
    color: gold;
}

#song1 .chorus {
    font-style: italic;
}